/* HERMANOS CERCANOS:
SELECCIONAMOS TODOS LOS PARRAFOS QUE ESTEN CERCA (A 1 LINEA)
DE UN TITULO 2*/
.hermanosCercanos h2 + p{
    color: royalblue;
}


/* HERMANOS GENERALES:
SELECCIONAMOS TODOS LOS HERMANOS PARRAFOS(TODAS LAS ETIQUETAS
QUE COMPARTEN UN MISMO PADRE)*/

.hermanosGenerales h2 ~ p{
    color: rgb(230, 0, 0);
}

/*HIJO:
SELECCIONAMOS TODOS LOS HIJOS DIRECTO DE UNA ETIQUETA*/

.hijo div > p{
    color: rgba(21, 100, 31, 0.842);
}

/* DESCENDIENTE:
SELECCIONAMOS TODAS LAS ETIQUETAS QUE SEA DESCENDIENTE SIN
IMPORTAR SIE S DIRECTO O NO*/

.descendiente div p{
    color: mediumvioletred;
}