:root{
    --fuente-principal:Montserrat, sans-serif;
    --fuente-secundaria:Helvetica, sans-serif;
}

*{
    box-sizing:
    border-box;
    margin:0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

@media (max-width: 550px){
    .smartphone{
        display:flex;
        
    }

    /*HEADER / BARRA DE NAVEGACION*/
       nav{
        text-align: center;
        background-color: #fca311;
        font-family: var(--fuente-principal);
       }
       .logo{
        width: 30%;
       }
       .smartphone nav li{
        display: inline-flex;
        list-style: none;
        margin-inline: 2rem;
        margin-bottom: 2rem;
       }  
    
       /*TEXTOS*/
       
        /*OTROS DISPOSITIVOS*/
       
    .tablet{
        display: none;
    }
    .desktop{
        display: none;
    }
    
}

