*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}

.box{
    text-align: center;
    font-family:fantasy;
    border: solid;
    border-radius: 16px;
    
}
#nombre.box{
    width: 140px;
    height: 60px;
    background-color: rgb(16, 34, 194);
    color: white;
    border-color: rgb(63, 63, 63);
    padding-top: 14px;
    margin-left: 640px;
    margin-top: 20px;
    font-size: 2.5rem;
    text-decoration-color: rgb(156, 10, 10);
    text-decoration-line: overline;
}

#tarjeta-datos{
    width: 250px;
    height: 330px;
    margin-left: 585px;
    background-color: rgb(238, 238, 238);
}
#tarjeta-datos:hover{
    color:rgb(0, 25, 105);
}

figure{
    width: 185px;
    height: 100px;
    margin-left: 160px;
}
figure img{
    width: 100%;
    height: 100%;
}

#tarjeta-datos__pilotos{
width: auto;
height: 55px;
padding-top: 5px;
margin-top: -90px;
margin-left: 20px;
margin-right: 20px;
background-color: rgb(23, 17, 112);
color: white;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border: unset;
}

.box #tarjeta-datos__engine{
    width: 50px;
    height: 50px;
    margin-left: 95px;
    margin-bottom: 12px;
    margin-top: 8px;
}
  .box #tarjeta-datos__engine img{
      width: 100%;
      height: 100%;
   }

.box #tarjeta-datos__aerodinamycs{
   width: 50px;
   height: 50px;
   margin-top: 18px;
   margin-left: 95px;
   margin-bottom: 20px;
}
  .box #tarjeta-datos__aerodinamycs img{
     width: 100%;
     height: 100%;
   }

.box #tarjeta-datos__speed{
    width: 58px;
    height: 45px;
    margin-top: -3px;
    margin-left: 91.55px;
    margin-bottom: 20px;
}
  .box #tarjeta-datos__speed img{
    width: 100%;
    height: 100%;
   }

.boton button:hover{
  color: rgb(255, 6, 6);
}
.boton button:active{
    color: blue;
}